@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

.container {
  margin: 15px 20px 0 20px;
  font-family: 'Commissioner', sans-serif;
  font-size: 16px;

  .headline {
    text-align: center;
    font-size: 22px;
  }
}
p {
  text-indent: 20px;
  line-height: 1.5;
}
.bottom-text {
  position: absolute;
  text-indent: 0;
  bottom: 0;
  color: #888d92;
  font-size: 14px;
  text-align: center;
  &__link {
    text-decoration: none;
    font-weight: 600;
    color: #3f444a;
    &:hover {
      color: #296dc0;
    }
  }
}
