.sidebar-container {
  height: 100vh;
  flex-shrink: 0;
  width: 200px;
  padding-right: 20px;
}

.sidebar {
  position: fixed;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #0d1117c5;
  border-right: 1px solid #e3e4e5;
  transition: width 0.3s;

  .logo {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-left: 40px;
    overflow-x: hidden;
    text-decoration: none;
    border-radius: 60px;

    .logo-icon {
      flex-shrink: 0;
      border-radius: 60px;
    }
  }
}

.option-margin {
  margin: 5px 0px;
}

.options{
  margin-top: 20px;
}
